<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 p-3" style="background-color:rgb(32,32,32)">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">

    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/dashboard" class="nav-link px-2">Dashboard</a></li>
        <li><a href="/monitor" class="nav-link px-2">Monitor</a></li>
    </ul>

    @if (!login)
    {
        <div class="col-md-3 text-end">
            <a href="/login" type="button" class="btn btn-outline-light me-2">Login</a>
        </div>
    }
    else
    {
        <div class="col-md-3 text-end">
            <a href="/login" type="button" class="btn btn-outline-light me-2">Logout</a>
        </div>
    }

</header>

